/* ================== MOBILE (max 768px) ================== */
@media screen and (max-width: 768px) {

    body {
        padding: 20px 15px;
        justify-content: flex-start;
        padding-top: 40px;
    }

    h2 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    form {
        padding: 25px 20px;
        border-radius: 14px;
        gap: 12px;
    }

    input {
        padding: 11px 13px;
        font-size: 14px;
    }

    .btn-login,
    .btn-create {
        padding: 12px;
        font-size: 15px;
    }

    .pas_compte {
        font-size: 13px;
    }
}
